AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT_GPT4O=
AZURE_OPENAI_DEPLOYMENT_GPT4O_MINI=
AZURE_OPENAI_DEPLOYMENT_EMBEDDINGS=
AI_SEARCH_ENDPOINT=
AI_SEARCH_KEY=
AI_SEARCH_INDEX=
COSMOS_URI=
COSMOS_KEY=
COSMOS_DATABASE=
COSMOS_CONTAINER=
REDIS_URL=
AZURE_REGION=canadacentral
